.heading-xl {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

.heading-lg {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semibold);
}

.heading-md {
  font-size: var(--font-size-h3);
}

.body-lg {
  font-size: var(--font-size-lg);
}

.body-md {
  font-size: var(--font-size-md);
}

.body-sm {
  font-size: var(--font-size-sm);
}