/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root */
html, body {
    height: 100%;
    font-family: var(--font-family-base);
    background-color: var(--color-gray-100);
    color: var(--color-gray-700);
}

/* Link */
a {
    text-decoration: none;
    color: inherit;
}

/* Button default */
button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}

/* Input */
input, textarea {
    font-family: inherit;
    outline: none;
}

/* Image */
img {
    max-width: 100%;
    display: block;
}