.search-container {
  display: flex;
  /* max-width: 400px; */

  border: var(--border-width-medium) var(--border-style-solid) var(--border-color-gray);
  border-radius: var(--radius-lg);

  overflow: hidden;
  background-color: var(--color-white);
}

.search-box {
  flex-grow: 1;
  border: none;

  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-md);
  font-family: var(--font-family-base);

  outline: none;
}

.search-button {
  background-color: var(--color-secondary);
  color: var(--color-white);

  padding: var(--spacing-sm) var(--spacing-lg);
  font-size: var(--font-size-sm);

  cursor: pointer;
  transition: var(--transition-fast);
}

.search-button:hover {
  background-color: var(--color-primary-dark);
}